#ago_menu {
    position: relative;
    z-index: 2;
    margin-top: 2px;
    margin-bottom: 5px;
    width: 667px;
    background-color: #0d1014;
    border: 1px solid #000000;
    float: left
}

#galaxy #ago_menu {
    top: -44px
}

#ago_menu input[type="text"] {
    width: 68px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    padding: 1px 2px 2px;
    font-size: 12px;
    color: #efebe2;
    visibility: visible;
    background: #274650
}

#ago_menu select {
    padding: 0;
    width: 140px;
    max-width: 140px;
    line-height: 13px;
    border: 1px solid #000000;
    border-radius: 3px
}

#ago_menu select, #ago_menu option {
    font-size: 12px;
    color: #848484;
    height: 18px;
    visibility: visible;
    background-color: #161a1f
}

#ago_menu option {
    padding: 0 4px;
    line-height: 18px
}

#ago_menu option:hover {
    color: #cfcbc2;
    background: #32495a
}

#ago_menu a {
    text-decoration: none
}

a.ago_menu_button {
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden
}

.ago_menu_selected {
    box-shadow: 0 0 0 1px #99cc00 inset;
    border-radius: 3px
}

.ago_menu_help, .ago_menu_help_label {
    cursor: help
}

#ago_menu_header {
    background: url("https://gf1.geo.gfsrv.net/cdn63/10e31cd5234445e4084558ea3506ea.gif") no-repeat 0 0 #0d1014
}

.ago_menu_header_title {
    padding: 0;
    text-align: center;
    color: #6f9fc8;
    font-size: 13px;
    font-weight: 700;
    height: 28px;
    line-height: 28px
}

.ago_menu_header_title span {
    font-size: 10px;
    font-style: italic;
    font-weight: 200;
    padding-left: 30px
}

.ago_menu_header_button {
    padding: 20px 0;
    height: 20px
}

.ago_menu_header_button table {
    padding: 0;
    margin: 0 auto
}

.ago_menu_header_button form {
    display: inline-block;
    margin: -18px 28px 12px 6px;
}

#ago_menu .ago_menu_header_button a.ago_menu_button {
    padding: 3px 5px;
    min-width: 204px
}

#ago_menu_content {
    padding: 0;
    overflow-y: auto
}

#ago_menu_content a.ago_menu_button {
    width: 204px
}

.ago_menu_tab_header {
    font-weight: 700;
    color: #6f9fc8;
    height: 22px;
    line-height: 22px;
    padding: 0 0 0 35%;
    margin-bottom: 2px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: #161a1f;
    cursor: pointer
}

.ago_menu_tab_open .ago_menu_tab_header, .ago_menu_tab_header:hover {
    color: #cfcbc2;
    background: #32495a
}

#ago_menu .ago_menu_tab.ago_menu_tab_open .ago_menu_tab_arrow_close, #ago_menu .ago_menu_tab:not(.ago_menu_tab_open) .ago_menu_tab_arrow_open, #ago_menu .ago_menu_tab:not(.ago_menu_tab_open) .ago_menu_section {
    display: none
}

#ago_menu .ago_menu_tab_arrow_open, #ago_menu .ago_menu_tab_arrow_close {
    color: #30ad45
}

.ago_menu_section {
    width: 654px;
    padding: 0;
    margin: 18px auto 0;
    border-collapse: collapse
}

.ago_menu_section:last-child {
    margin: 18px auto
}

.ago_menu_section_header {
    color: #6f9fc8;
    font-size: 12px;
    font-weight: 400
}

.ago_menu_section_header th {
    padding: 0 0 8px;
    margin: 0
}

.ago_menu_section_input {
    position: relative;
    left: -40px
}

#ago_menu .ago_menu_section .ago_menu_section_input select {
    width: 256px;
    max-width: 256px;
    color: #6f9fc8
}

.ago_menu_section.ago_menu_group_disabled tr:not(.ago_menu_section_header), .ago_menu_section.ago_menu_section_disabled tr:not(.ago_menu_section_header) {
    display: none
}

.ago_menu_group_disabled .ago_menu_section_header th {
    opacity: .85
}

.ago_menu_group.ago_menu_group_disabled .ago_menu_section_header th:first-child, .ago_menu_section.ago_menu_group_disabled:not(.ago_menu_group) .ago_menu_section_header th, .ago_menu_section.ago_menu_section_disabled .ago_menu_section_header th:first-child {
    opacity: .4
}

.ago_menu_section .ago_menu_section_header .ago_menu_section_title span {
    display: inline-block;
    max-width: 390px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.ago_menu_section:not([ago_display_status="1"]) tr.ago_menu_display_1, .ago_menu_section:not([ago_display_status="2"]) tr.ago_menu_display_2, .ago_menu_section:not([ago_display_status="3"]) tr.ago_menu_display_3, .ago_menu_section[ago_display_status="1"] tr.ago_menu_hide_1, .ago_menu_section:not([ago_menu_action]) tr.ago_menu_action, .ago_menu_section[ago_display_status="1"][ago_menu_action="1"] tr.ago_menu_sync_title, .ago_menu_section[ago_display_status="1"][ago_menu_action="1"] tr.ago_menu_sync_info, .ago_menu_section[ago_display_status="1"][ago_menu_action="1"] tr.ago_menu_sync_list, .ago_menu_section[ago_menu_action="1"] tr.ago_menu_sync_list.ago_menu_action .ago_menu_button {
    display: none
}

#ago_menu_label_F60 {
    color: #7ead3d
}

#ago_menu_label_FA0 {
    color: #d43635
}

#ago_menu_label_FH0 {
    color: #11a140
}

#ago_menu_label_F70 {
    color: #4162a5
}

#ago_menu_label_F90 {
    color: #a400c2
}

#ago_menu_label_F80 {
    color: #3984b5
}

#ago_menu_label_FL0 {
    color: #68c521
}

.ago_menu_sync_title, .ago_menu_sync_info {
    background: #161a1f
}

.ago_menu_section .ago_menu_sync_title td {
    color: #6f9fc8;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 0
}

.ago_menu_sync_list {
    background: #13181d
}

.ago_menu_section .ago_menu_sync_list td.ago_menu_label {
    padding: 15px 0 10px 40px
}

.ago_menu_section .ago_menu_sync_list td:nth-child(2) {
    padding: 15px 0 0;
    vertical-align: top
}

.ago_menu_section .ago_menu_sync_list td:nth-child(2) .ago_menu_button {
    margin: 15px 0
}

.ago_menu_section .ago_menu_sync_list td:nth-child(2) div {
    height: 20px;
    min-height: 20px;
    line-height: 20px
}

.ago_menu_section .ago_menu_sync_text textarea {
    padding: 0;
    margin: 0;
    height: 30px;
    min-height: 30px;
    width: 600px
}

.ago_menu_section #ago_menu_detail_D95 span:nth-child(2) {
    padding: 0 20px
}

#ago_menu_content a#ago_menu_button_D90.ago_menu_button {
    max-width: 360px;
    width: auto;
    margin-bottom: 18px
}

.ago_menu_section td {
    padding: 1px 0 2px;
    margin: 0;
    height: 16px;
    line-height: 16px;
    color: #848484;
    font-size: 11px;
    text-align: left
}

.ago_menu_section .ago_menu_title td {
    padding: 10px 0 5px 5px
}

.ago_menu_section .ago_menu_title span {
    color: #6f9fc8;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    font-weight: 400
}

.ago_menu_section .ago_menu_title span:nth-child(2) {
    min-width: 225px;
    display: inline-block;
    float: right
}

.ago_menu_section td.ago_menu_label, .ago_menu_section td.ago_menu_label_bullet {
    padding-left: 14px;
    padding-right: 4px
}

.ago_menu_section td.ago_menu_label_bullet:before {
    content: "\2022";
    display: inline;
    position: absolute;
    left: 10px
}

.ago_menu_section td.ago_menu_label_indent {
    padding-left: 24px;
    padding-right: 4px
}

.ago_menu_section td.ago_menu_space {
    padding: 0;
    margin: 0
}

#ago_menu .ago_menu_section input[type="text"].ago_menu_input_string {
    text-align: left;
    width: 210px
}

#ago_menu .ago_menu_section input[type="text"].ago_menu_input_name {
    text-align: left;
    width: 140px
}

#ago_menu .ago_menu_section select {
    width: 216px;
    max-width: 216px
}

.ago_menu_color {
    text-align: center
}

.ago_menu_color, .ago_menu_color_meta {
    padding: 0 2px;
    width: 210px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 3px;
    background: #13181d;
    white-space: nowrap
}

.ago_menu_color:hover, .ago_menu_color_meta:hover {
    background: #23282d
}

.ago_menu_color_disabled {
    color: #848484 !important;
    text-decoration: line-through
}

.ago_menu_color_meta {
    text-align: right
}

.ago_menu_color_meta span {
    display: inline-block;
    color: #cfcbc2
}

.ago_menu_color_meta .ago_menu_color_condition {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left
}

.ago_menu_task {
    display: inline-block;
    padding: 0 2px;
    width: 210px;
    height: 16px;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    border: 1px solid #000000;
    border-radius: 3px;
    background: #13181d
}

.ago_menu_task:hover {
    background: #23282d
}

.ago_menu_task span {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0 4px;
    vertical-align: top
}

.ago_menu_task_name {
    margin: 0 40px 0 0;
    position: relative;
    float: right
}

.ago_menu_task_name img {
    position: absolute;
    right: -20px
}

.htmlTooltip h2 {
    color: #6f9fc8;
    line-height: 22px;
    font-size: 11px;
    font-weight: 700
}

.htmlTooltip ol {
    list-style-position: outside;
    list-style-type: disc;
    margin: 0 5px 8px 25px
}

.htmlTooltip ol > li {
    padding: 2px 0;
    font-size: 11px;
    line-height: 16px
}

.htmlTooltip[ago-tooltip] .splitLine {
    margin: 4px 0 12px
}

.htmlTooltip li.ago_menu_help_option {
    padding-left: 135px;
    position: relative;
    list-style-type: none
}

.htmlTooltip li span.ago_menu_help_option {
    min-width: 120px;
    max-width: 120px
}

.htmlTooltip li span.ago_menu_help_option, .htmlTooltip li span.ago_menu_help_shortcut {
    color: #848484;
    background-color: #000000;
    padding: 1px 4px;
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    left: 0
}

.htmlTooltip li.ago_menu_help_shortcut {
    padding-left: 85px;
    position: relative;
    list-style-type: none
}

.htmlTooltip li span.ago_menu_help_shortcut {
    min-width: 70px;
    max-width: 70px
}

.htmlTooltip li.ago_menu_help_list {
    position: relative;
    list-style-type: none;
    padding-left: 12px
}

.htmlTooltip li.ago_menu_help_list:before {
    content: "- ";
    display: inline;
    position: absolute;
    left: 0
}

.htmlTooltip li span.ago_menu_help_headline {
    color: #90b2d0
}

.htmlTooltip li span.ago_menu_help_button {
    color: #efebe2;
    background-color: #6f9fc8;
    padding: 1px 4px;
    border-radius: 3px;
    white-space: nowrap
}

.htmlTooltip li span.ago_menu_help_pages, .htmlTooltip li span.ago_menu_help_missions, .htmlTooltip li span.ago_menu_help_ogame, .htmlTooltip li span.ago_menu_help_item {
    color: #ffffff;
    font-style: italic
}

.htmlTooltip li span.ago_menu_help_planet {
    color: #99cc00
}

.htmlTooltip li span.ago_menu_help_debris {
    color: #ffffff
}

.htmlTooltip li span.ago_menu_help_moon {
    color: #fd8a1c
}

#ago_menu_edit {
    margin: 1px;
    padding: 8px;
    position: absolute;
    display: none;
    z-index: 200;
    background-color: #13181d
}

#ago_menu_edit table {
    width: 400px;
    color: #848484;
    font-size: 11px
}

.ago_menu_edit_hidden, #ago_menu_edit:not([ago_display_status="0"]) tr.ago_menu_display_0, #ago_menu_edit:not([ago_display_status="1"]) tr.ago_menu_display_1, #ago_menu_edit:not([ago_display_status="2"]) tr.ago_menu_display_2 {
    display: none
}

.ago_menu_edit_header td {
    color: #6f9fc8;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 0
}

.ago_menu_edit_header span {
    display: inline-block;
    min-width: 150px;
    color: #848484;
    float: right
}

.ago_menu_edit_title {
    color: #6f9fc8;
    font-size: 12px;
    font-weight: 400
}

.ago_menu_edit_section td {
    padding: 10px 5px 5px
}

.ago_menu_edit_label {
    padding: 2px 4px 2px 15px;
    height: 13px;
    line-height: 13px
}

.ago_menu_edit_input {
    font-size: 11px;
    padding: 2px 4px 2px 0
}

#ago_menu #ago_menu_edit a.ago_menu_button {
    padding: 0 5px;
    width: 100px
}

#ago_menu_edit_system {
    margin: 0 11px
}

#ago_menu_edit select {
    background-color: #161a1f
}

.ago_menu_edit_footer td {
    padding: 20px 0 5px
}

#ago_menu_picker {
    width: 230px;
    position: absolute;
    display: none;
    z-index: 3;
    color: #848484;
    background-color: #13181d;
    padding: 10px;
    margin: 0
}

#ago_menu_picker input[type="text"] {
    float: right
}

#ago_menu_picker select {
    background-color: #161a1f
}

#ago_menu_picker[ago_display_status="0"] .ago_picker_display_1, #ago_menu_picker:not([ago_display_status="2"]) .ago_picker_display_2 {
    display: none
}

.ago_menu_picker_header {
    height: 18px;
    line-height: 18px
}

.ago_menu_picker_title {
    padding: 5px 0
}

.ago_menu_picker_title, .ago_menu_picker_opacity {
    height: 18px;
    line-height: 18px
}

.ago_menu_picker_meta {
    padding: 5px 0
}

.ago_menu_picker_meta, .ago_menu_picker_footer {
    height: 18px;
    line-height: 18px
}

.ago_menu_picker_header {
    padding: 5px 0 18px
}

.ago_menu_picker_header span {
    display: inline-block;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400
}

#ago_menu_picker input[type="text"]#ago_menu_picker_color {
    background-color: #ffffff
}

#ago_menu_picker input[type="text"]#ago_menu_picker_name {
    width: 140px;
    float: none;
    background-color: #13181d
}

.ago_menu_picker_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.ago_menu_picker_meta {
    height: auto
}

.ago_menu_picker_meta div {
    padding: 0 0 5px
}

.ago_menu_picker_meta span {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.ago_menu_picker_meta input {
    float: right
}

.ago_menu_picker_wrapper {
    position: relative;
    width: 195px;
    height: 195px;
    margin: 0 auto
}

#ago_menu_picker_square, .ago_menu_picker_overlay {
    position: absolute;
    cursor: crosshair;
    top: 47px;
    left: 47px;
    width: 101px;
    height: 101px
}

.ago_menu_picker_overlay {
    background: url("images/color_mask.png") no-repeat
}

#ago_menu_picker_wheel {
    position: absolute;
    cursor: crosshair;
    width: 195px;
    height: 195px;
    background: url("images/color_wheel.png") no-repeat
}

#ago_menu_picker_h-marker, #ago_menu_picker_sl-marker {
    position: absolute;
    cursor: crosshair;
    width: 17px;
    height: 17px;
    margin: -8px 0 0 -8px;
    overflow: hidden;
    background: url("images/color_marker.png") no-repeat
}

.ago_menu_picker_opacity {
    padding: 18px 0 5px
}

.ago_menu_picker_footer {
    padding: 20px 0 5px;
    text-align: center
}

.ago_menu_picker_footer .icon_delete {
    float: left
}

.ago_menu_picker_footer a.ago_menu_button:nth-child(3) {
    float: right
}