#speedLinks .selected[data-value="1"], #speedLinks :hover[data-value="1"] {
    color: #ff3300 !important
}

#speedLinks .selected[data-value="2"], #speedLinks :hover[data-value="2"] {
    color: #ff6600 !important
}

#speedLinks .selected[data-value="3"], #speedLinks :hover[data-value="3"] {
    color: #ff9900 !important
}

#speedLinks .selected[data-value="4"], #speedLinks :hover[data-value="4"] {
    color: #ffcc00 !important
}

#speedLinks .selected[data-value="5"], #speedLinks :hover[data-value="5"] {
    color: #ffff00 !important
}

#speedLinks .selected[data-value="6"], #speedLinks :hover[data-value="6"] {
    color: #ccff00 !important
}

#speedLinks .selected[data-value="7"], #speedLinks :hover[data-value="7"] {
    color: #99ff00 !important
}

#speedLinks .selected[data-value="8"], #speedLinks :hover[data-value="8"] {
    color: #66ff00 !important
}

#speedLinks .selected[data-value="9"], #speedLinks :hover[data-value="9"] {
    color: #33ff00 !important
}

#speedLinks .selected[data-value="10"], #speedLinks :hover[data-value="10"] {
    color: #00ff00 !important
}

#box #inhalt .c-left, #box #inhalt .c-right {
    display: none
}

#box #inhalt #planet, #box #inhalt #planet.shortHeader {
    background: url("images/summary_background.gif");
    height: auto;
    margin-bottom: 0;
    overflow: hidden
}

#box #inhalt #planet.shortHeader {
    height: 72px
}

#box #inhalt #planet > h2 {
    float: right;
    width: 430px;
    font-size: 13px;
    margin-left: 20px;
    padding-top: 1px;
    cursor: pointer
}

#box #inhalt #planet .toggleHeader {
    right: 3px;
    top: 1px
}

#box #inhalt #planet.shortHeader .toggleHeader {
    background: url("https://gf1.geo.gfsrv.net/cdn0b/d55059f8c9bab5ebf9e8a3563f26d1.gif") no-repeat 0 0;
    right: 3px;
    top: 1px
}

#ago_summary_fleets {
    float: left;
    width: 185px;
    min-height: 18px;
    font-size: 10px;
    line-height: 18px;
    color: #6f9fc8 !important;
    margin: 4px 0 0 11px
}

#ago_summary_fleets a {
    display: block;
    text-decoration: none
}

#ago_summary_fleets span {
    float: right
}

#ago_summary {
    float: none;
    height: auto;
    overflow: hidden;
    width: 646px;
    margin: 0 auto;
    padding: 2px 0
}

#ago_summary table {
    width: 646px;
    margin: 0
}

#ago_summary td {
    color: #848484;
    font-size: 10px;
    text-align: left;
    padding: 1px 7px
}

#ago_summary span {
    float: right
}

#ago_summary .ago_summary_header td {
    height: 22px;
    line-height: 22px;
    padding: 0 7px
}

#ago_summary .ago_summary_header td#ago_summary_routine {
    font-size: 12px;
    font-weight: 700
}

#ago_summary .ago_summary_header td#ago_summary_routine.on {
    color: #6f9fc8 !important
}

#ago_summary .ago_summary_total td {
    color: #6f9fc8;
    line-height: 20px;
    background-color: #293140
}

#ago_shortcuts {
    color: #6f9fc8;
    width: 637px;
    height: auto;
    text-align: left;
    padding: 0;
    margin: 10px 0 5px 15px;
    position: relative;
    z-index: 2
}

.ago_shortcuts_header {
    position: absolute;
    width: 100%;
    height: 24px;
    cursor: pointer
}

.ago_shortcuts_header .ago_display_arrow {
    float: right;
    position: relative;
    top: 2px;
    right: 2px
}

.ago_shortcuts_content span.ago_shortcuts_description {
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: 5px 0;
    display: block
}

.ago_shortcuts_content span.ago_shortcuts_description:first-child {
    margin: 0 0 7px
}

#ago_shortcuts[ago_display_status="2"] .ago_display_arrow {
    background-position: 0 -22px
}

#ago_shortcuts[ago_display_status="1"] .ago_shortcuts_content td > :not(:first-child) {
    display: none
}

.ago_shortcuts_content td {
    padding: 0;
    vertical-align: top;
    border: 1px solid #050505;
    border-radius: 5px;
    background: linear-gradient(to bottom, #192026 0, #0d1014 13%, #0d1014 100%)
}

#ago_shortcuts[ago_display_status="1"] .ago_shortcuts_content td {
    background: linear-gradient(to bottom, #192026 0, #0d1014 80%)
}

.ago_shortcuts_content td.ago_shortcuts_spacer {
    border: none;
    background: none !important
}

.ago_shortcuts_content a {
    display: inline-block;
    font-size: 11px;
    text-decoration: none;
    padding: 0;
    height: 20px;
    line-height: 20px;
    width: 100%;
    border: none;
    border-radius: 3px
}

.ago_shortcuts_content a, .ago_shortcuts_content a:hover, .ago_shortcuts_content a:active, #fleet1 #buttonz .ago_shortcuts_content a, #fleet1 #buttonz .ago_shortcuts_content a:hover, #fleet1 #buttonz .ago_shortcuts_content a:active {
    color: #8c9eaa
}

.ago_shortcuts_content .ago_shortcuts_own a {
    width: auto
}

.ago_shortcuts_content span {
    display: inline-block;
    padding: 0 0 0 3px;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    overflow: hidden
}

.ago_shortcuts_coords {
    min-width: 58px;
    max-width: 58px
}

.ago_shortcuts_icon {
    min-width: 15px
}

.ago_shortcuts_speed {
    min-width: 26px;
    max-width: 26px;
    font-size: 10px
}

.ago_shortcuts_name {
    min-width: 60px;
    max-width: 60px;
    font-size: 10px
}

.ago_shortcuts_owncoords {
    min-width: 58px;
    max-width: 58px
}

.ago_shortcuts_ownname {
    min-width: 100px;
    max-width: 100px
}

.ago_shortcuts_ownmoon {
    min-width: 70px;
    max-width: 70px;
    position: relative
}

.ago_shortcuts_content span.ago_shortcuts_ownmoon {
    padding-left: 34px
}

.ago_shortcuts_ownmoon img {
    position: absolute;
    left: 8px;
    top: 1px
}

.ago_shortcuts_owndebris {
    min-width: 20px
}

.ago_fleet_continue_task td {
    font-size: 10px;
    padding: 0 2px 0 0;
    text-align: center;
    width: 20px
}

#fleet2 #inhalt #fleetStatusBar {
    display: none
}

#fleet2 #inhalt .planetname {
    color: #6f9fc8
}

#fleet2 #inhalt .coords span {
    font-size: 12px
}

#fleet2 #inhalt #shortcuts {
    padding: 32px 0 0 23px
}

#ago_fleet_player {
    text-align: center !important;
    padding: 0 !important;
    position: absolute;
    top: 9px
}

#fleet2 #inhalt .briefing {
    min-height: 125px;
    padding: 0 0 5px;
    margin: 13px 0 10px;
    border: 1px solid #050505
}

#fleet2 #inhalt .briefing h2 {
    line-height: 15px;
    text-align: left;
    position: relative;
    margin: 0 10px;
    padding: 0
}

#fleet2 .ago_fleet_details {
    color: #6f9fc8;
    height: 14px;
    font-size: 11px;
    font-weight: 500;
    padding-top: 15px
}

#fleet2 .ago_fleet_details span {
    display: inline-block;
    line-height: 15px
}

#fleet2 .ago_fleet_details > span {
    position: absolute
}

#fleet2 .ago_fleet_label {
    font-weight: 700;
    width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#fleet2 .ago_fleet_count {
    font-size: 13px;
    font-weight: 500;
    color: #99cc00;
    left: 327px
}

#fleet2.lang-es .ago_fleet_count, #fleet2.lang-ru .ago_fleet_count {
    left: 317px
}

#fleet2 .ago_fleet_duration {
    font-size: 13px;
    font-weight: 500;
    text-align: right;
    right: 327px
}

#fleet2.lang-es .ago_fleet_duration, #fleet2.lang-ru .ago_fleet_duration {
    right: 317px
}

#fleet2 .ago_fleet_name {
    left: 330px
}

#fleet2 .ago_fleet_arrival {
    font-size: 13px;
    font-weight: 500;
    text-align: right;
    right: 0
}

#fleet2 #inhalt #buttonz ul.fleetBriefing {
    margin: 15px 0 15px 10px;
    list-style-type: none
}

#fleet2 #inhalt #buttonz ul.fleetBriefing#fleetBriefingPart1_2 {
    margin-left: 38px
}

#fleet2.lang-es #inhalt #buttonz ul.fleetBriefing#fleetBriefingPart1_2, #fleet2.lang-ru #inhalt #buttonz ul.fleetBriefing#fleetBriefingPart1_2 {
    margin-left: 18px
}

#fleet2 #inhalt #buttonz ul.fleetBriefing li {
    width: 290px;
    padding: 2px 0;
    font-weight: 100
}

#fleet2 #inhalt #buttonz ul.fleetBriefing li:nth-child(3) {
    padding-top: 10px
}

#fleet2.lang-es #inhalt #buttonz ul.fleetBriefing li, #fleet2.lang-ru #inhalt #buttonz ul.fleetBriefing li {
    width: 300px
}

#fleet2 #inhalt #buttonz ul.fleetBriefing li span.value {
    font-size: 13px;
    float: right
}

#fleet2 #inhalt .nameOfConsumedResource {
    display: none !important
}

#fleet2 #inhalt #maxspeed {
    display: none
}

#fleet2 #inhalt #speedLinks {
    position: absolute;
    bottom: 12px;
    width: 320px;
    height: 22px;
    margin: 0
}

#fleet2 #inhalt #speedLinks > a.speed {
    font-size: 13px;
    font-weight: 700
}