#fleet3 #sendfleet .res {
margin: 0px 0px 11px 50px !important;
}

#speedLinks .selected[data-value="1"], #speedLinks :hover[data-value="1"] {
    color: #ff3300 !important
}

#speedLinks .selected[data-value="2"], #speedLinks :hover[data-value="2"] {
    color: #ff6600 !important
}

#speedLinks .selected[data-value="3"], #speedLinks :hover[data-value="3"] {
    color: #ff9900 !important
}

#speedLinks .selected[data-value="4"], #speedLinks :hover[data-value="4"] {
    color: #ffcc00 !important
}

#speedLinks .selected[data-value="5"], #speedLinks :hover[data-value="5"] {
    color: #ffff00 !important
}

#speedLinks .selected[data-value="6"], #speedLinks :hover[data-value="6"] {
    color: #ccff00 !important
}

#speedLinks .selected[data-value="7"], #speedLinks :hover[data-value="7"] {
    color: #99ff00 !important
}

#speedLinks .selected[data-value="8"], #speedLinks :hover[data-value="8"] {
    color: #66ff00 !important
}

#speedLinks .selected[data-value="9"], #speedLinks :hover[data-value="9"] {
    color: #33ff00 !important
}

#speedLinks .selected[data-value="10"], #speedLinks :hover[data-value="10"] {
    color: #00ff00 !important
}

#box #inhalt .c-left, #box #inhalt .c-right {
    display: none
}

#box #inhalt #planet, #box #inhalt #planet.shortHeader {
    background: url("images/summary_background.gif");
    height: auto;
    margin-bottom: 0;
    overflow: hidden
}

#box #inhalt #planet.shortHeader {
    height: 72px
}

#box #inhalt #planet > h2 {
    float: right;
    width: 430px;
    font-size: 13px;
    margin-left: 20px;
    padding-top: 1px;
    cursor: pointer
}

#box #inhalt #planet .toggleHeader {
    right: 3px;
    top: 1px
}

#box #inhalt #planet.shortHeader .toggleHeader {
    background: url("https://gf1.geo.gfsrv.net/cdn0b/d55059f8c9bab5ebf9e8a3563f26d1.gif") no-repeat 0 0;
    right: 3px;
    top: 1px
}

#ago_summary_fleets {
    float: left;
    width: 185px;
    min-height: 18px;
    font-size: 10px;
    line-height: 18px;
    color: #6f9fc8 !important;
    margin: 4px 0 0 11px
}

#ago_summary_fleets a {
    display: block;
    text-decoration: none
}

#ago_summary_fleets span {
    float: right
}

#ago_summary {
    float: none;
    height: auto;
    overflow: hidden;
    width: 646px;
    margin: 0 auto;
    padding: 2px 0
}

#ago_summary table {
    width: 646px;
    margin: 0
}

#ago_summary td {
    color: #848484;
    font-size: 10px;
    text-align: left;
    padding: 1px 7px
}

#ago_summary span {
    float: right
}

#ago_summary .ago_summary_header td {
    height: 22px;
    line-height: 22px;
    padding: 0 7px
}

#ago_summary .ago_summary_header td#ago_summary_routine {
    font-size: 12px;
    font-weight: 700;
    color: #6f9fc8 !important
}

#ago_summary .ago_summary_total td {
    color: #6f9fc8;
    line-height: 20px;
    background-color: #293140
}

#fleet3 #inhalt #fleetStatusBar {
    display: none
}

#fleet3 .header .missionName {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: center
}

#fleet3 #inhalt ul#missions span.textlabel {
    display: none
}

#fleet3 #inhalt ul#missions .on a:hover span.textlabel {
    display: inline-block
}

#fleet3 #inhalt #missionNameWrapper {
    display: none
}

#fleet3 .ago_fleet_details {
    color: #6f9fc8;
    height: 14px;
    font-size: 11px;
    font-weight: 500;
    position: relative;
    margin: 3px 20px;
    z-index: 2
}

#fleet3 #ago_fleet_union.ago_fleet_details, #fleet3 #ago_fleet_marked.ago_fleet_details {
    margin-bottom: 14px
}

#fleet3 .ago_fleet_details span {
    display: inline-block;
    line-height: 15px
}

#fleet3 .ago_fleet_details > span {
    position: absolute
}

#fleet3 .ago_fleet_label {
    left: 10px;
    width: 220px;
    overflow: hidden
}

#fleet3.lang-ru .ago_fleet_label {
    left: 0;
    width: 240px
}

#fleet3.lang-ru .ago_fleet_duration {
    right: 320px
}

#fleet3 #ago_fleet_union .ago_fleet_label, #fleet3 #ago_fleet_marked .ago_fleet_label {
    font-weight: 700
}

#fleet3 .ago_fleet_count {
    font-size: 13px;
    color: #99cc00;
    left: 330px
}

#fleet3 .ago_fleet_duration {
    font-size: 13px;
    text-align: right;
    right: 330px
}

#fleet3 .ago_fleet_name {
    left: 330px
}

#fleet3 .ago_fleet_arrival {
    font-size: 13px;
    text-align: right;
    right: 10px
}

#fleet3 #inhalt #sendfleet #resources {
    height: 170px
}

#fleet3 #inhalt #loadAllResources {
    width: 130px;
    left: 175px;
    top: 20px
}

#fleet3 #inhalt .ago_fleet_loadAllResources {
    display: block;
    float: left;
    height: 32px;
    width: 32px;
    margin: 10px 5px !important
}

#mostresources {
    background: url("images/select_most.jpg") no-repeat left top
}

#noneresources {
    background: url("images/icon-none.jpg") no-repeat left top
}

#allresources:hover {
    background-position: -374px -194px !important
}

#mostresources:hover, #noneresources:hover {
    background-position: 0 -32px !important
}

#fleet3 #inhalt #sendfleet #resources .res_wrap {
   position: relative;
    width: 142px;
    height: 51px;
    margin: -10px 0px 12px;
}

#fleet3 .resbuttons {
	position: relative;
    left: 23px;
}



#fleet3 #inhalt #sendfleet #resources .res_wrap.ago_fleet_preferResource {
    border-color: #a26d00
}

#fleet3 #inhalt #sendfleet #resources .res {
    width: 92px
}

#fleet3 #inhalt #sendfleet #resources .res_img {
    margin-top: 4px
}

#fleet3 #inhalt #sendfleet #resources .res input {
    font-size: 12px;
    width: 85px
}

#fleet3 #inhalt #sendfleet #resources .resourceIcon {
    cursor: pointer
}

#fleet3 #inhalt #sendfleet #resources .res_wrap .max, #fleet3 #inhalt #sendfleet #resources .res_wrap .min {
    display: none
}

.ago_fleet_loadResource {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 2px 5px
}

.ago_fleet_allResource {
    background: url("https://gf3.geo.gfsrv.net/cdnea/fa0c8ee62604e3af52e6ef297faf3c.gif") no-repeat 1px 1px;
    background-size: 14px 14px;
	position: relative;
    left: 55px;
    top: -13px;
}

.ago_fleet_mostResource {
    background: url("images/select_most.jpg") no-repeat left top;
    background-size: 16px 32px;
	position: relative;
    left: 55px;
    top: -13px;
}

.ago_fleet_noneResource {
    background: url("images/icon-none.jpg") no-repeat left top;
    background-size: 16px 32px;
	position: relative;
    left: 55px;
    top: -13px;
}

.ago_fleet_remaining_resource {
    position: absolute;
    top: 2px;
    left: 2px;
    max-width: 40px;
    height: auto;
    padding: 2px;
    color: #cfcbc2;
    font-size: 11px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden
}

#fleet3 #inhalt #roundup, #fleet3 #inhalt .briefing_overlay {
    min-height: 170px
}

#fleet3 #inhalt #roundup ul {
    margin-left: 15px
}

#fleet3 #inhalt #roundup ul li {
    font-weight: 500;
    margin: 3px 0;
    overflow: hidden
}

#fleet3 #inhalt #roundup ul li:nth-child(2), #fleet3 #inhalt #roundup ul li:nth-child(8) {
    padding-bottom: 16px
}

#fleet3 #inhalt #roundup ul li span.value {
    font-size: 13px;
    float: right
}

#fleet3 #inhalt #roundup ul li .dropdown.currentlySelected {
    float: right
}

#fleet3 #inhalt #roundup ul li#expeditiontimeline span.value {
    display: none
}

#fleet3 #inhalt .ago_fleet_resources_all a#start {
    background: url("images/fleet3_send_green.gif")
}

#fleet3 #inhalt .ago_fleet_resources_loaded a#start {
    background: url("images/fleet3_send_orange.gif")
}

#fleet3 #inhalt #speedLinks {
    margin: 0
}