.ago_improve #planetdata {
    margin-top: 7px;
    margin-right: 5px;
    height: 217px
}

.ago_improve #planetdata .overlay {
    opacity: .8
}

.ago_improve #planetdata tr:nth-child(2) td, .ago_improve #planetdata tr:nth-child(4) td {
    padding: 0 5px 3px
}

.ago_improve #planetdata tr:nth-child(6) td {
    padding: 0 5px 6px
}

.ago_improve div#planetDetails {
    height: 194px;
    line-height: 13px;
}

.ago_improve div#planetOptions {
    margin: -1px 1px 2px 3px;
}

.ago_overview_storagetime {
    font-size: 10px;
    color: green;
    vertical-align: top
}

#ago_items_resource {
    font-size: 11px;
    width: 192px;
    height: 194px;
    padding: 3px 4px;
    bottom: 0;
    right: 0;
    background-color: rgba(21, 31, 41, .95)
}

#ago_items_resource .ago_items_resource_header {
    height: 17px;
    line-height: 17px;
    text-align: center;
    font-size: 12px;
    color: #6f9fc8;
    position: relative
}

#ago_items_resource .ago_items_resource_header span {
    display: inline-block;
    width: 50px;
    min-width: 50px;
    text-align: center;
    vertical-align: top;
    height: 17px;
    line-height: 17px;
    color: #d29d00;
    font-weight: 700
}

#ago_items_resource .ago_items_resource_header a {
    margin: 0 4px
}

#ago_items_resource .ago_items_resource_header a:first-child:not(.icon) {
    margin: 0;
    position: absolute;
    left: 0
}

#ago_items_resource .ago_items_resource_header a.icon_info {
    margin: 0;
    position: absolute;
    right: 0
}

#ago_items_resource ul {
    min-height: 58px;
    padding: 5px 0
}

#ago_items_resource ul.ago_items_resource_cargo {
    min-height: 30px
}

#ago_items_resource li, #ago_items_resource span {
    height: 13px;
    line-height: 13px;
    color: #cfcbc2
}

#ago_items_resource li {
    padding: 0 0 0 5px;
    position: relative
}

#ago_items_resource li[ago-data] {
    cursor: pointer;
    border-radius: 3px
}

#ago_items_resource li[ago-data]:hover {
    color: #cfcbc2;
    background: #32495a
}

#ago_items_resource li:first-child {
    height: 19px;
    line-height: 19px;
    color: #6f9fc8;
    padding: 0
}

#ago_items_resource li:first-child span {
    height: 19px;
    line-height: 19px
}

#ago_items_resource li.ago_items_resource_cargo {
    cursor: help
}

#ago_items_resource .ago_items_resource_value {
    position: absolute;
    right: 0
}

#ago_items_resource_cargo ul {
    min-width: 180px
}

#ago_items_resource_cargo li span {
    float: right
}

#ago_items_resource_cargo li {
    cursor: pointer;
    border-radius: 3px
}

#ago_items_resource_cargo li:hover {
    color: #cfcbc2;
    background: #32495a
}

.ago_improve .production_info {
    padding: 0 0 0 11px;
    min-width: 265px;
    max-width: 330px;
    width: auto;
    height: 88px;
    position: absolute;
    top: 110px
}

.ago_improve .production_info.ago_items_compact {
    line-height: 18px
}

.ago_improve .production_info .time {
    display: inline-block;
    padding: 0;
    width: auto !important;
    min-width: 80px;
    text-align: right;
    float: right
}

.ago_improve .production_info #ago_items_production.time, .ago_improve .production_info #ago_items_energy.time, .ago_improve .production_info #ago_items_number.time, .ago_improve .production_info #ago_items_detail.time {
    width: auto !important;
    min-width: 120px
}

.ago_improve .production_info .time span {
    padding: 0 4px;
    float: left
}

.ago_improve .production_info .time span.ago_items_abbr {
    padding: 0 0 0 6px;
    float: right
}

.ago_improve .production_info .time[ago-data] {
    cursor: pointer;
    border-radius: 3px
}

.ago_improve .production_info .time[ago-data]:hover {
    color: #cfcbc2;
    background: #32495a
}

.ago_improve .production_info .undermark {
    color: #00b000 !important
}

#ago_items_finish {
    display: inline-block;
    white-space: nowrap;
    color: green;
    font-weight: 700;
    line-height: 20px;
    position: absolute;
    top: 110px;
    right: 11px
}

.ago_improve .demolish_link {
    top: 162px
}

.ago_improve .demolish_link .label {
    display: none
}

.ago_improve .costs_wrap {
    float: none;
    position: absolute
}

.ago_improve .costs_wrap .costs_info {
    height: 24px
}

.ago_improve .build-it_wrap {
    margin: 0;
    min-width: 204px;
    float: none;
    position: absolute;
    right: 11px
}

.ago_improve .premium_info {
    margin: 11px 0 2px
}

.ago_improve .premium_info_placeholder {
    height: 24px
}

.ago_improve .abort_link {
    bottom: auto;
    top: 162px;
    right: 88px
}

.ago_improve .enter {
    margin: 0;
    width: auto;
    height: auto;
    top: 156px;
    right: 11px
}

.ago_improve .enter .maxlink_wrap {
    width: 100%;
    height: 100%;
    background: 0 0;
    padding: 0
}

.ago_improve .enter .amount_input {
    float: right
}

.ago_improve .enter .amount, .ago_improve .enter .maxlink_wrap .maxlink_arrow, .ago_improve .enter .maxlink_wrap #maxlink {
    display: none
}

.ago_improve #description .txt_box {
    position: absolute;
    width: 605px;
    height: 45px;
    left: 42px;
    bottom: 0
}

.ago_improve #description .txt_box.tech_den {
    margin: 0
}

.ago_improve .techtree_link {
    min-width: 32px;
    height: 32px;
    background: 0 0;
    left: 5px;
    bottom: 10px
}

.ago_improve .techtree_img, .ago_improve .techtree_img_disabled {
    margin: 0
}

.ago_improve .techtree_link .label {
    display: none
}

.ago_mode_name ul#storage span.time, .ago_mode_name ul#den span.time, .ago_mode_name ul#stationbuilding span.time, .ago_mode_name ul#military span.time, .ago_mode_name ul#civil span.time, .ago_mode_name ul#defensebuilding span.time, .ago_mode_name #buttonz ul span.time, #shipyard .ago_mode_name ul span.time, #research .ago_mode_name ul span.time, #defense .ago_mode_name ul span.time {
    top: 48px
}

.ago_mode_name ul#building span.time {
    top: 64px
}

.ago_items_text {
    position: absolute;
    top: 4px;
    right: 2px;
    max-width: 70px;
    height: auto;
    padding: 2px 3px;
    text-align: right;
    overflow: hidden
}

#resources .ago_items_text, #station .ago_items_text, #station-moon .ago_items_text, #research .ago_items_text, .construction .ago_items_text {
    top: 14px
}

.ago_items_textName {
    font-size: 10px;
    width: 70px
}

.ago_items_textInfo {
    font-size: 11px;
    top: 32px !important
}

.ago_items_textCount {
    font-size: 11px;
    top: 48px !important
}

#resources #building .ago_items_text {
    max-width: 92px
}

#resources #building .ago_items_textName {
    width: 90px
}

#resources #building .ago_items_textInfo {
    top: 48px !important
}

#resources #building .ago_items_textCount {
    top: 68px !important
}

.off .ago_items_text {
    color: #6e6e6e
}

.on .ago_items_text {
    color: #efebe2
}

.disabled .ago_items_text {
    color: #d43635
}

#inhalt.ago_mode_construction .content-box-s .content {
    padding: 0 10px
}

#inhalt.ago_mode_construction .content-box-s .construction th {
    color: #f1f1f1
}

#inhalt.ago_mode_construction .content-box-s .construction .shipSumCount {
    color: #99cc00;
    font-weight: 700;
    display: inline-block;
    width: 40px;
    float: right;
    text-align: right
}

#inhalt.ago_mode_construction .content-box-s .construction td.first, #inhalt.ago_mode_construction .content-box-s .construction td.building {
    width: 50px;
    padding: 8px 0 0
}

#inhalt.ago_mode_construction .content-box-s .construction .data .desc {
    padding: 0;
    width: 144px
}

#inhalt.ago_mode_construction .content-box-s .construction .data .ausbau, #inhalt.ago_mode_construction .content-box-s .construction .data .timeProdShip {
    padding-top: 5px
}

#inhalt.ago_mode_construction .content-box-s .construction .data .desc span {
    float: right
}

#inhalt.ago_mode_construction .content-box-s .construction .data .desc .level {
    color: #99cc00
}

.ago_mode_construction .content-box-s a.abortNow {
    right: 9px;
    bottom: 3px
}

.ago_construction_time {
    color: #ffffff;
    font-weight: 700
}

.ago_construction_finishtime {
    color: green;
    font-size: 10px
}

#ago_construction_move {
    color: green;
    display: inline-block;
    height: 17px;
    line-height: 17px
}

#netz #alliance #inhalt #eins .contentz .members td {
    padding: 3px 5px
}

.ago_improve #description #wreckfields .btn {
    margin: 3px 3px;
    padding: 0 15px;
    z-index: 9999
}

.ago_improve #description #wreckfields .btn > input {
    font-size: 11px
}