#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.desert_1, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.desert_1 { background-image: url("images/planets/desert_1.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.desert_2, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.desert_2 { background-image: url("images/planets/desert_2.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.desert_3, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.desert_3 { background-image: url("images/planets/desert_3.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.desert_4, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.desert_4 { background-image: url("images/planets/desert_4.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.desert_5, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.desert_5 { background-image: url("images/planets/desert_5.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.desert_6, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.desert_6 { background-image: url("images/planets/desert_6.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.desert_7, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.desert_7 { background-image: url("images/planets/desert_7.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.desert_8, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.desert_8 { background-image: url("images/planets/desert_8.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.desert_9, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.desert_9 { background-image: url("images/planets/desert_9.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.desert_10, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.desert_10 { background-image: url("images/planets/desert_10.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.dry_1, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.dry_1 { background-image: url("images/planets/dry_1.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.dry_2, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.dry_2 { background-image: url("images/planets/dry_2.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.dry_3, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.dry_3 { background-image: url("images/planets/dry_3.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.dry_4, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.dry_4 { background-image: url("images/planets/dry_4.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.dry_5, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.dry_5 { background-image: url("images/planets/dry_5.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.dry_6, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.dry_6 { background-image: url("images/planets/dry_6.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.dry_7, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.dry_7 { background-image: url("images/planets/dry_7.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.dry_8, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.dry_8 { background-image: url("images/planets/dry_8.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.dry_9, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.dry_9 { background-image: url("images/planets/dry_9.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.dry_10, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.dry_10 { background-image: url("images/planets/dry_10.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.gas_1, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.gas_1 { background-image: url("images/planets/gas_1.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.gas_2, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.gas_2 { background-image: url("images/planets/gas_2.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.gas_3, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.gas_3 { background-image: url("images/planets/gas_3.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.gas_4, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.gas_4 { background-image: url("images/planets/gas_4.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.gas_5, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.gas_5 { background-image: url("images/planets/gas_5.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.gas_6, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.gas_6 { background-image: url("images/planets/gas_6.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.gas_7, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.gas_7 { background-image: url("images/planets/gas_7.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.gas_8, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.gas_8 { background-image: url("images/planets/gas_8.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.gas_9, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.gas_9 { background-image: url("images/planets/gas_9.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.gas_10, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.gas_10 { background-image: url("images/planets/gas_10.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.ice_1, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.ice_1 { background-image: url("images/planets/ice_1.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.ice_2, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.ice_2 { background-image: url("images/planets/ice_2.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.ice_3, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.ice_3 { background-image: url("images/planets/ice_3.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.ice_4, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.ice_4 { background-image: url("images/planets/ice_4.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.ice_5, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.ice_5 { background-image: url("images/planets/ice_5.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.ice_6, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.ice_6 { background-image: url("images/planets/ice_6.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.ice_7, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.ice_7 { background-image: url("images/planets/ice_7.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.ice_8, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.ice_8 { background-image: url("images/planets/ice_8.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.ice_9, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.ice_9 { background-image: url("images/planets/ice_9.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.ice_10, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.ice_10 { background-image: url("images/planets/ice_10.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.jungle_1, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.jungle_1 { background-image: url("images/planets/jungle_1.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.jungle_2, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.jungle_2 { background-image: url("images/planets/jungle_2.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.jungle_3, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.jungle_3 { background-image: url("images/planets/jungle_3.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.jungle_4, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.jungle_4 { background-image: url("images/planets/jungle_4.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.jungle_5, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.jungle_5 { background-image: url("images/planets/jungle_5.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.jungle_6, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.jungle_6 { background-image: url("images/planets/jungle_6.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.jungle_7, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.jungle_7 { background-image: url("images/planets/jungle_7.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.jungle_8, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.jungle_8 { background-image: url("images/planets/jungle_8.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.jungle_9, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.jungle_9 { background-image: url("images/planets/jungle_9.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.jungle_10, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.jungle_10 { background-image: url("images/planets/jungle_10.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.normal_1, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.normal_1 { background-image: url("images/planets/normal_1.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.normal_2, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.normal_2 { background-image: url("images/planets/normal_2.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.normal_3, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.normal_3 { background-image: url("images/planets/normal_3.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.normal_4, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.normal_4 { background-image: url("images/planets/normal_4.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.normal_5, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.normal_5 { background-image: url("images/planets/normal_5.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.normal_6, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.normal_6 { background-image: url("images/planets/normal_6.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.normal_7, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.normal_7 { background-image: url("images/planets/normal_7.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.normal_8, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.normal_8 { background-image: url("images/planets/normal_8.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.normal_9, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.normal_9 { background-image: url("images/planets/normal_9.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.normal_10, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.normal_10 { background-image: url("images/planets/normal_10.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.water_1, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.water_1 { background-image: url("images/planets/water_1.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.water_2, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.water_2 { background-image: url("images/planets/water_2.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.water_3, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.water_3 { background-image: url("images/planets/water_3.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.water_4, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.water_4 { background-image: url("images/planets/water_4.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.water_5, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.water_5 { background-image: url("images/planets/water_5.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.water_6, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.water_6 { background-image: url("images/planets/water_6.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.water_7, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.water_7 { background-image: url("images/planets/water_7.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.water_8, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.water_8 { background-image: url("images/planets/water_8.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.water_9, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.water_9 { background-image: url("images/planets/water_9.png"); }
#galaxy .ago_shrink #galaxytable .ListImage img.planetTooltip.water_10, #galaxy.ago_improve #galaxytable .ListImage img.planetTooltip.water_10 { background-image: url("images/planets/water_10.png"); }

#galaxy #inhalt #galaxyLoading {
    opacity: .3;
    top: 30px
}

#galaxy #inhalt #galaxytable td.ago_galaxy_espionage {
    background-color: rgba(71, 101, 134, .85);
    border-radius: 3px
}

#galaxy #inhalt #galaxytable td.microplanet[onclick], #galaxy #inhalt #galaxytable td.moon[onclick], #galaxy #inhalt #galaxytable th[ago-data] {
    cursor: pointer
}

#galaxy #inhalt #galaxytable td.moon:not([onclick]) a {
    cursor: default
}

#galaxy #inhalt #galaxytable td.planetname a, #galaxy #inhalt #galaxytable td.planetname a:active {
    text-decoration: none;
    color: #cfcbc2
}

.ago_galaxy_debris {
    color: #cfcbc2
}

.ago_galaxy_rank {
    font-size: 10px;
    color: #cfcbc2
}

.ago_galaxy_debris {
    font-size: 11px;
	line-height: 13px;
    position: absolute;
    top: 1px;
    min-width: 40px;
    text-align: center
}

.ago_shrink_1 .ago_galaxy_debris {
    font-size: 10px
}

.ago_shrink_2 .ago_galaxy_debris, .ago_shrink_3 .ago_galaxy_debris {
    font-size: 9px
}

.ago_galaxy_rank {
    text-decoration: none;
    float: right;
    padding-right: 3px;
}

#galaxy #box #message_alert_box, #galaxy #box #message_alert_box_default {
    background: url("images/briefcase.png") no-repeat 0 0
}

#galaxy #box #message_alert_box_default.emptyMessage {
    background: url("images/briefcase_empty.png") no-repeat 0 0
}

#galaxy.no-touch #box a#message_alert_box.emptyMessage:hover, #galaxy.no-touch #box a#message_alert_box_default:hover, #galaxy.no-touch #box a#message_alert_box:hover {
    background: url("images/briefcase_hover.png") no-repeat 0 0
}

#galaxy.ago_improve #galaxytable .ListImage img.planetTooltip {
	left: 3px;
	width: 30px;
	height: 30px;
	background-size: 30px;
	background-position: 0;
}

#galaxy.ago_improve #galaxytable .moon_a, #galaxy .ago_shrink_1 #galaxytable .moon_a {
	top: 1px;
	left: 2px;
	width: 28px;
	height: 28px;
	background-size: 28px;
	background-repeat: no-repeat;
}

#galaxy .ago_shrink_2 #galaxytable .moon_a {
	top: 2px;
	left: 3px;
	width: 26px;
	height: 26px;
	background-size: 26px;
	background-repeat: no-repeat;
}

#galaxy .ago_shrink_3 #galaxytable .moon_a {
	top: 3px;
	left: 4px;
	width: 24px;
	height: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
}

#galaxy .ago_shrink_1 #galaxytable .debrisField, #galaxy .ago_shrink_1 #galaxytable .noDebrisField {
	top: 1px;
	left: 1px;
	width: 28px;
	height: 28px;
	background-size: 28px;
	background-repeat: no-repeat;
}

#galaxy .ago_shrink_2 #galaxytable .debrisField, #galaxy .ago_shrink_2 #galaxytable .noDebrisField {
	top: 2px;
	left: 2px;
	width: 26px;
	height: 26px;
	background-size: 26px;
	background-repeat: no-repeat;
}

#galaxy .ago_shrink_3 #galaxytable .debrisField, #galaxy .ago_shrink_3 #galaxytable .noDebrisField {
	top: 3px;
	left: 3px;
	width: 24px;
	height: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
}

#galaxy .ago_shrink_1 #galaxytable .ListImage img.planetTooltip {
	top: 1px;
	left: 5px;
	width: 28px;
	height: 28px;
	background-size: 28px;
	background-position: 0;
}

#galaxy .ago_shrink_2 #galaxytable .ListImage img.planetTooltip {
	top: 2px;
	left: 6px;
	width: 26px;
	height: 26px;
	background-size: 26px;
	background-position: 0;
}

#galaxy .ago_shrink_3 #galaxytable .ListImage img.planetTooltip {
	top: 3px;
	left: 7px;
	width: 24px;
	height: 24px;
	background-size: 24px;
	background-position: 0;
}

#galaxy.ago_improve div.activity.showMinutes, #galaxy .ago_shrink div.activity.showMinutes {
    font-size: 10px;
    padding: 0 1px;
    width: auto;
    height: auto;
	margin-left: 0;
}

#galaxy .ago_shrink_2 div.activity.showMinutes, #galaxy .ago_shrink_3 div.activity.showMinutes {
    font-size: 8px
}

#galaxy.ago_improve #galaxytable tr.row td.spacer01 {
    width: 1px
}

#galaxy.ago_improve #galaxytable tr.row td.position {
    padding-right: 6px;
}

#galaxy.ago_improve #galaxytable tr.row td.planetname, #galaxy.ago_improve #galaxytable tr.row td.planetname1 {
    min-width: 140px
}

#galaxy.ago_improve #galaxytable tr.row td.debris {
    width: 40px;
}

#galaxy.ago_improve #galaxytable tr.row td.spacer03 {
    width: 31px;
    text-align: right
}

#galaxy.ago_improve #galaxytable tr.row td.allytag {
    width: 101px;
    padding-left: 5px
}

#galaxy.ago_improve #galaxytable td.microplanet {
	width: 36px;
}

#galaxy.ago_improve #galaxytable td.moon {
	width: 32px;
}

#galaxy #galaxytable tr.ago_highlight td {
	background-color: inherit;
}

#galaxy.ago_improve #galaxytable tbody, #galaxy .ago_shrink_1 #galaxytable tbody {
	border-spacing: 3px 3px;
}

#galaxy .ago_shrink_2 #galaxytable tbody {
	border-spacing: 2px 2px;
}

#galaxy .ago_shrink_3 #galaxytable tbody {
	border-spacing: 1px 1px;
}

#galaxy .ago_shrink_2 #galaxytable tr.row, #galaxy .ago_shrink_3 #galaxytable tr.row {
	height: 28px;
}

#galaxy.ago_improve #galaxytable td.playername {
	width: 172px;
}

#galaxy.ago_improve #galaxytable {
	min-height: 604px;
	height: 604px;
}

#galaxy .ago_shrink_1 #galaxytable {
	min-height: 604px;
	height: 604px;
}

#galaxy .ago_shrink_2 #galaxytable {
	min-height: 575px;
	height: 575px;
}

#galaxy .ago_shrink_3 #galaxytable {
	min-height: 560px;
	height: 560px;
}

#galaxy div.activity {
	margin-left: 0 !important;
}
