#messages .agoSpyReportOverview table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    color: #848484;
    font-size: 11px;
    table-layout: fixed;

    border: 1px solid #000000;
}

#messages .agoSpyActivity {
	float: left;
	width: 50px;
}

#messages .agoSpyLoot {
	float: left;
	width: 70px;
}

#messages .agoSpyFleet {
    float: left;
	width: 80px;
}

#messages .agoSpyDefense {
	width: 70px;
}

#messages div .msg_head {
	padding-bottom: 5px;
    margin-bottom: 0;
}

div.agoButtons {
    margin-left: 3px;
    margin-top: 45px;
    margin-bottom: 10px;
}

.anti_msg_buttons td {
    white-space: nowrap;
}

.anti_msg_buttons input {
    background: url("images/formular_buttons.gif") no-repeat -66px -44px;
    background-size: 132px 88px;
    border: 0 none;
    cursor: pointer !important;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    height: 22px;
    width: 32px;
    padding-bottom: 0
}

.anti_msg_buttons input:hover {
    background-position: -66px -66px
}

.ctn_with_trash {
    margin: 5px 0 0 0 !important;
}

div#agoSpyReportOverview {
    text-align: center;
    margin: 40px auto -20px;
    padding: 10px 0;
    width: 626px;
    overflow: auto
}

.spyTableIcon {
    font-weight: 700;
    display: block;
    float: left;
    width: 16px;
    line-height: 16px;
    text-align: center;
    margin-right: 5px;
    background: url("images/icon_blank.png") center center no-repeat
}

a.spyTableIcon, a.spyTableIcon:hover {
    text-decoration: none !important;
    color: #ffffff !important
}

div#agoSpyReportOverview a:hover {
    text-decoration: none;
}

div#agoSpyReportOverview table{
    border: 1px solid #000000;
    width: 100% !important;
    box-sizing: border-box; 
}

div#agoSpyReportOverview table thead tr.spyHeader {
    cursor: default;
    background-color: #23282d;
    background-image: none;
}

div#agoSpyReportOverview th:first-child {
    box-shadow:
        inset 0px 11px 8px -10px #00050a,
        inset 0px -11px 8px -10px #00050a,
        inset 11px 0px 8px -10px #00050a; 
}

div#agoSpyReportOverview th {
    padding: 8px 5px 8px 5px !important;
    font-weight: 700;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    text-align: center !important;
    box-shadow:
        inset 0px 11px 8px -10px #00050a,
        inset 0px -11px 8px -10px #00050a;
}

div#agoSpyReportOverview th:last-child {
    box-shadow:
        inset 0px 11px 8px -10px #00050a,
        inset 0px -11px 8px -10px #00050a,
        inset -11px 0px 8px -10px #00050a; 
}

div#agoSpyReportOverview .row {
    cursor: default;
    background-color: #14191f
}

div#agoSpyReportOverview .row.even {
    background-color: #0f141a;
}

div#agoSpyReportOverview .row:hover td:first-child {
    box-shadow: 
        inset 0px 6px 5px -5px #1278cb,
        inset 0px -6px 5px -5px #1278cb,
        inset 6px 0px 5px -5px #1278cb;
}

div#agoSpyReportOverview .row:hover td {
    box-shadow: 
        inset 0px 6px 5px -5px #1278cb,
        inset 0px -6px 5px -5px #1278cb;
}

div#agoSpyReportOverview .row:hover td:last-child {
    box-shadow: 
        inset 0px 6px 5px -5px #1278cb,
        inset 0px -6px 5px -5px #1278cb,
        inset -6px 0px 5px -5px #1278cb;
}

div#agoSpyReportOverview td {
    padding: 5px 2px 5px 2px !important;
    border-right: 1px solid #000000;
    vertical-align: middle !important;
}

div#agoSpyReportOverview td.select {
    width: 18px;
}

div#agoSpyReportOverview td.select.checked {
    text-align: center;
    background: url("images/checked.png") center center no-repeat;
}

div#agoSpyReportOverview TR TH:last-child, div#agoSpyReportOverview TR TD:last-child {
    border-right: 0
}