/* ==================================================== */
/*	Color								*/

#info {
    /*	background: url("background/color_9c2d6e61df84c10082e6ca567971f6.gif") no-repeat !important; */
    background: url("background/color_9c2d6e61df84c10082e6ca567971f6.png") no-repeat !important;
}


