/* ==================================================== */
/*	Dark 								*/

body {
    background: url("background/dark_3f1cb3e1709fa2fa1c06b70a3e64a9.jpg") no-repeat scroll 50% 0 #000000 !important;
}

#info {
    background: url("background/dark_9c2d6e61df84c10082e6ca567971f6.jpg") no-repeat !important;
}


